# Sentiment Analysis for Customer Feedback
## 1. Data Exploration & Preprocessing
### 1.1. Examine the Data

In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('bank_reviews3.csv')

# Display the first few rows
display(df.head())

# Show the structure and info
print('--- DataFrame Info ---')
df.info()

# Show summary statistics for numeric columns
print('--- Summary Statistics ---')
display(df.describe(include='all'))

,author,date,address,bank,rating,review_title_by_user,review,bank_image,rating_title_by_user,useful_count
0,AMRENDRA T,"Mar 21, 2020",New delhi,SBI,4.0,"""Best saving""",State Bank Of India is located nearby in our a...,https://static.bankbazaar.com/images/common/ba...,Great!,133
1,BISHWA,"Mar 20, 2020",Kolkata,SBI,5.0,"""Good service""","I have my salary account in SBI, when I applie...",https://static.bankbazaar.com/images/common/ba...,Blown Away!,89
2,SANTOSH,"Mar 20, 2020",Hooghly,Axis Bank,5.0,"""Excellent Service""",I am using Axis bank saving account for the p...,https://static.bankbazaar.com/images/common/ba...,Blown Away!,48
3,MAHADEV,"Mar 20, 2020",Pune,HDFC Bank,5.0,"""Excellent service""",I have my salary bank account in HDFC bank for...,https://static.bankbazaar.com/images/common/ba...,Blown Away!,52
4,R,"Mar 20, 2020",Bangalore,review,5.0,"""Good account""","Close to around 10 years, I am holding this Co...",https://static.bankbazaar.com/images/common/ba...,Blown Away!,22

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   author                996 non-null    object
 1   date                  1000 non-null   object
 2   address               1000 non-null   object
 3   bank                  1000 non-null   object
 4   rating                1000 non-null   float64
 5   review_title_by_user  1000 non-null   object
 6   review                1000 non-null   object
 7   bank_image            1000 non-null   object
 8   rating_title_by_user  1000 non-null   object
 9   useful_count          1000 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB
--- Summary Statistics ---

,author,date,address,bank,rating,review_title_by_user,review,bank_image,rating_title_by_user,useful_count
count,996,1000,1000,1000,1000.000000,1000,1000,1000,1000,1000.000000
unique,620,110,107,10,NaN,352,999,10,10,NaN
top,ANONYMOUS,"Jan 20, 2020",Bangalore,review,NaN,"""Good Account""","In SBI customer care, they are not responding ...",https://static.bankbazaar.com/images/common/ba...,Blown Away!,NaN
freq,117,26,245,285,NaN,105,2,285,550,NaN
mean,NaN,NaN,NaN,NaN,4.351500,NaN,NaN,NaN,NaN,2.752000
std,NaN,NaN,NaN,NaN,0.940788,NaN,NaN,NaN,NaN,7.638904
min,NaN,NaN,NaN,NaN,0.500000,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,2.000000
max,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,133.000000

In [2]:
# Check for missing values
print('--- Missing Values ---')
display(df.isnull().sum())

# Check for anomalies: e.g., unique values in rating, useful_count, etc.
print('--- Unique Values in Key Columns ---')
for col in ['rating', 'useful_count', 'rating_title_by_user']:
    print(f'{col}:', df[col].unique()[:10], '...')

--- Missing Values ---

author                  4
date                    0
address                 0
bank                    0
rating                  0
review_title_by_user    0
review                  0
bank_image              0
rating_title_by_user    0
useful_count            0
dtype: int64

--- Unique Values in Key Columns ---
rating: [4.  5.  3.  4.5 0.5 2.  3.5 1.5 1.  2.5] ...
useful_count: [133  89  48  52  22  37  44  35  29  28] ...
rating_title_by_user: ['Great!' 'Blown Away!' 'Satisfactory' 'Excellent!' 'Unacceptable'
 'Expected more' 'Pretty good' 'Bad' 'Really Bad' 'Just OK'] ...